body{
    margin: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    text-align: center;
    border: 3px solid black;
    height: 403px;
    margin: 150px 440px 0 440px;
}
input{
    padding: 4px;
    width: 50%;
}
button{
    border-radius: 4px;
    background-color: black;
    color: bisque;
    padding: 5px 18px 5px 19px;
    cursor: pointer;
    margin: 0 0 20px 0;
}
a{
    text-decoration: none;
}
.b2{
    padding: 14px 0 20px 0;
    color:black;
}
.b1{
    padding: 0;
}
.b4{
    margin: 0 0 10px 0;
}
